body{
    font-family:"Arial","Hiragino Sans GB", \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
    font-size: 14px;
    color:#444;
}
.container{
    width: 1203px;
    margin: 0 auto;
}
.fl-l{
    float: left;
}
.fl-r{
    float: right;
}
